* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
}

.main {
    background-image: url(../images/bg.png);
    background-position: center;
    background-size: cover;
}

.header {
    border-bottom: 3px solid hsla(0, 0%, 100%, 0.2);
    padding: 35px 0 33px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    margin-right: 282px;
}

.menu {
    display: inline-block;
}

.menu-item {
    margin-right: 52px;
    display: inline-block;
}

.menu-item a {
    font-size: 16px;
    color: rgb(237, 224, 248);
    line-height: 1.2;
    text-decoration: none;
}

.hero {
    padding: 145px 0 205px 0;
}

.hero-title {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.222;
    max-width: 460px;
}

.hero p {
    margin-top: 88px;
    margin-bottom: 99px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.star-icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.hero-p {
    margin-left: 14px;
}

button {
    width: 224px;
    padding: 22px 0 23px 0;
    font-family: "Arial";
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 2px solid white;
    background-color: transparent;
    cursor: pointer;
}

.second {
    padding: 135px 0 115px 0;
}

.section-title {
    font-size: 35px;
    color: rgb(139, 103, 214);
    font-weight: bold;
    margin-bottom: 68px;
}

.goals-list {
    color: rgb(49, 27, 94);
    list-style-type: none;
}

.goals-list-item {
    margin-bottom: 25px;
}

.goals-list-item-text {
        vertical-align: middle;
        margin-left: 15px;
}

.goals-list-item img {
        vertical-align: middle;
}

.third {
    background-image: url(../images/bg2.png);
    background-position: center;
    background-size: cover;
}

.third-top {
    padding: 140px 0 247px 0;
}

.third-container {
    width: 996px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 60px 0 44px 0;
}

.third-section-title {
    font-size: 35px;
    color: rgb(139, 103, 214);
    font-weight: bold;
    line-height: 1.571;
    margin-bottom: 40px;
}

.third-section-text {
    font-size: 16px;
    color: rgb(49, 27, 94);
    line-height: 1.5;
    max-width: 593px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.third-section-button {
    width: 224px;
    padding: 22px 0 23px 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid rgb(177, 128, 228);
    color: rgb(177, 128, 228);
    margin-top: 10px;
}

.footer {
    text-align: center;
    border-top: 3px solid hsla(0, 0%, 100%, 0.2);
    padding: 48px 0 46px 0;
}